/* Reports List */

table#reports-list {
  margin: 10px;
  margin-bottom: 30px;
  border-collapse: collapse;
  width: 80%;
  border-bottom: 2px solid black;
}

table#reports-list th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table#reports-list th, table#reports-list td {
  padding: 4px;
  text-align: left;
}


/* Flash Messages */

#notice, #warning {
  background: mediumseagreen;
  margin: 1em 0;
  padding: 4px;
}

#notice.message, #warning.message {
  color: white;
  text-align: center;
}