/* Reports List */

table#reports-list {
  margin: 10px;
  border-collapse: collapse;
  width: 80%;
  border-bottom: 2px solid black;
}

table#reports-list th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}

table#reports-list th, table#reports-list td {
  padding: 4px;
  text-align: left;
}